<h2>你好</h2>
<div>
    <div id="textfield"></div>
    <a class="a-upload">
      <input type="file" webkitdirectory directory  name="file" id="fileField" onchange="document.getElementById('textfield').innerHTML=document.getElementById('fileField').value">
    </a>
    
  
</div>